<div class="container">

  <h4 class="my-3"> <%= email.object %> </h4>

  <p style="word-break: break-all;">  <%= email.body %> </p>

  <p class="my-5">  <%= email.read %> </p>

  <div class="d-flex flex-row justify-content-center my-5">
    <% if email.read == true %>
      <%= button_to "Marquer comme non lu", email_path(email.id), :class => "btn btn-info mx-2", :method => :put, remote: true,  params: { email_read: :false } %>
    <% else %>
      <%= button_to "Marquer comme lu", email_path(email.id), :class => "btn btn-info mx-2", :method => :put, remote: true, params: { email_read: :true } %>
    <% end %>

    <%= button_to "Supprimer", email_path(email.id), :class => "btn btn-warning mx-2", :method => :delete, remote: true, data: { confirm: 'Voulez-vous effacer définitivement ce message?' } %>
  </div>

</div>
