<div class="container">

  <h1 class="mb-3">Boîte de réception</h1>

  <div class="d-flex flex-row justify-content-end my-3">
    <%= button_to "Recevoir un email", emails_path, :class => "btn btn-primary btn-lg", :method => :post, remote: true %>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" style="display:none" class="email-id">Email Id</th>
        <th scope="col" style="display:none" class="email-read">Email is read</th>
        <th scope="col" width='30%'>Objet</th>
        <th scope="col" width='15%'>Date</th>
        <th scope="col" width='65%'>Contenu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="email-id" style="display:none"><%= @emails[0].id %></td>
        <td class="email-read" style="display:none"><%= @emails[0].read %></td>
        <td onmouseover="this.style.background='#e5e3e3'"; onmouseout="this.style.background=''"> <%= link_to "#{@emails[0].object}", email_path(@emails[0].id), :method => :get, remote: true %> </td>
        <td><%= @emails[0].created_at.strftime("%Y-%m-%d-%H:%M") %></td>
        <td rowspan="0"></td>
      </tr>
      <% @emails.each_with_index do |email, index| %>
        <% if index == 0 %>
        <% else %>
          <tr>
            <td class="email-id" style="display:none"><%= email.id %></td>
            <td class="email-read" style="display:none"><%= email.read %></td>
            <td onmouseover="this.style.background='#e5e3e3'"; onmouseout="this.style.background=''"> <%= link_to "#{email.object}", email_path(email.id), :method => :get, remote: true %> </td>
            <td><%= email.created_at.strftime("%Y-%m-%d-%H:%M") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
